<div class="d-flex justify-content-center">
  <section class="login-form">
    <h1 class="section-title">Login</h1>
    <!-- Template driven form -->
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Your email"
          ngModel
          name="email"
          email
          required
          #emailInput="ngModel"
        />
        <mat-error *ngIf="emailInput.hasError('required')"
          >Email required</mat-error
        >
        <mat-error *ngIf="!emailInput.hasError('required')"
          >Email is invalid</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Your password"
          ngModel
          name="password"
          required
          minlength="4"
          #passwordInput="ngModel"
        />
        <mat-error *ngIf="emailInput.hasError('required')"
          >Password required</mat-error
        >
      </mat-form-field>

      <a routerLink="/signup" class="switch-link">Create Account</a>

      <div class="d-flex flex-row-reverse">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          class="buttons"
          [disabled]="f.invalid"
        >
          Submit
        </button>
        <button
          type="submit"
          mat-raised-button
          class="cancel-margin-right buttons"
        >
          Cancel
        </button>
      </div>
    </form>
  </section>
</div>
