.form-field {
  width: 100%;
}

.login-form {
  width: 300px;
}

.buttons {
  padding: 5px 25px;
  margin-top: 20px;
}

.cancel-margin-right {
  margin-right: 15px;
}

.section-title {
  padding-left: 8px;
}

.switch-link {
  padding: 10px;
}